<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Name:                   <%= data.name %><br>
    Favorite Language:      <%= data.favorite_language %><br>
    Dojo:                   <%= data.dojo %><br>

  </body>
</html>
